@import url('https://fonts.cdnfonts.com/css/mona-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  --font-mona: 'Mona Sarif', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none; 
}